/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}


/*  CUSTOM */


.logo{
    width: 100%;
    height: 110px;
    background: #292929;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: bold;
}

.logo p{
    font-size: 50px;
}

.contact-info{
    margin-left: 35px;
    margin-bottom: 10px;
}

.contact-info a{
    list-style: none;
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
.contact-info i{
    color: #ff0000;
}

.searcher{
    width: 100%;

}

.searcher form{
    margin: 0 auto;
    width: 90%;
}

.searcher input{
    width: 87%;
    height: 40px;
    padding: 5px;
}

.searcher button{
    margin-left: 0;
    height: 40px;
    width: 40px;
    background: #ff0000;
    border: none;
    color: #ffffff;
}

.amount-bar{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin-top: 20px;
    border: 1px solid #D0CDCC;
    border-radius: 5px;
    margin-bottom: 15px;
}
.amount-bar p, .amount-bar i{
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #ff0000;

}

.amount-bar p{
    font-size: 15px;
    color: #000000;
}

/* MENU */

.menu{
    width: 100%;
    background-color: #343a40;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-family: 'Roboto', sans-serif;
}

.visible-mobile{
    color: #5B5654;
    margin-left: 10px;
}

.list-menu{
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height: 50px;
    align-items: center;
    display: none;
}

.list-menu li{
    margin: 10px;
}

.mobile-nav {
    border: 0.5px solid #5B5654;;
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    background: #000000 !important;
}

.banner img{
    width: 100%;
    margin-bottom: 20px;
}

/*Para las tablas en general*/
th, td{
	text-align: center;
	vertical-align: middle;
}

/* MAIN SECTION */

main{
    padding: 15px;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

h1{
    font-weight: bold;
}

/*nav categories*/
.products_categories{
	margin-top: 20px;
}

.products_categories .home_categories{
	margin:0 auto;
	width:100%;
}

.products_categories .home_categories ul li,.products_categories h2{
	text-align: center;
	margin-bottom:5px;
	margin-top:1px;
}
/*Cierre nav Categories*/

/*home products*/
.home_products{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.home_products h2{
	width:100%;
}

.home_products .break_line{
	width:100%;
	height: 4px;
	background-color: grey;
	margin-bottom:10px;
	border-radius: 3px;
}
/*Cierre Home products*/

/*Vista busquedas*/
.busqueda{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}


/*Cierre vista busquedas*/

.best-seller{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main-seller{
    width: 48%;
    text-align: center;
}

.main-seller img{
    width: 100%;
    border-radius: 10px;
    padding: 2px;
    border: 1px solid #000000;
    margin-bottom: 10px;
}

.main-seller p{
    font-family: 'Roboto', sans-serif;
}

.main-seller strong{
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.product-inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.description{
	margin-top: 10px;
	font-family: 'Roboto',sans-serif;
}
.descriptiontitle {
	margin-top: 20px;
	font-family: 'Roboto' ,sans-serif;
	font-weight: bold;
	font-size:1.5em;
}
.product-add{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background: #ff0000;
    border: 1px solid #FA4646;
    color: #ffffff;
    width: 60%;
    margin-top: 15px;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
}

.product-add:hover {
  text-decoration:none;
  color:#0000cc;
  cursor:pointer;
}

.product-add p{
    margin-left: 5px;
}

.h2-best{
    margin-bottom: 15px;
}

/* CUERPO PRINCIPAL DE PAGINA DE PREGUNTAS */

.principal{
	padding-left: 10px;
	padding-right: 10px;
}

.main_preguntas{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	background-image: none;
}

/* CUADRO DE PREGUNTAS  */

.questions {
  margin-bottom: 1px;
  padding: 20px;
	margin: 0 auto;
}
.questions li{
	background: #C5C6BB;
	margin-bottom: 1px;
	padding: 5px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.questions li:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.questions li:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.questions li:hover{ /*CAMBIO DE COLOR SOBRE EL MOUSE EN PREGUNTAS*/
	background: #9B9B95;
}
.questions a{
	font-size: 20px;
}
 /* CAJA DE RESPUESTAS */
.answers {
	padding: 20px;
	margin-bottom: 10px;
	margin: 0 auto;
}
.answers h2{
	margin-bottom: 15px;
	font-size: 1.8em;
}

.answers article{
	margin-bottom: 10px;
}/*AQUI TERMINA EL CSS DEL MAIN*/

/* CARRITO */

.table-responsive{
	margin-bottom: 40vh;
}

footer{
    background: #292929;
    height: 50px;
    width: 100%;
    position: relative;
}

.footer_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.footer_list li a{
    text-decoration: none;
    color: #FFFFFF;
}

@media (min-width: 640px){
    .list-menu{
        display: flex;
    }

    .mobile-menu, .visible-mobile{
        display: none;
    }

    .main-seller{
    width: 22%;
    text-align: center;
    }

		/*Inicia Responsive Tablets para Main de preguntas.html*/
		#principal_pregunta{
			font-size: 4em;
			align-self: flex-start;
			margin-left: 40px;
			background-color: inherit;
		}
		.questions{
			width: 90%;
		}
		.questions a{
			font-size: 1.5em;
		}

		.answers p{
			font-size: 1em;
		}
		/*Finaliza Responsive Tablets para Main de preguntas.hmtl*/
}

@media (min-width: 1200px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: #292929;
    }

    .logo, .contact{
        width: 32%;
    }
    .logo{
        font-size: 16px;
    }

    .logo p{
        width: 100%;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .amount-bar{
        max-width: 15%;
    }
    .contact-info, .searcher{
        width: 100%;
    }

    .content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .content nav{
        width: 20%;
    }

    .content main{
        width: 100%;
    }

		.answers{
			border: 1px solid #000;
			background: #fff;
			width: 90%;
			border-radius: 5px;
		}

    .container_login{
        height: 56.6vh;
    }

    .container_register{
        height: 56.6vh;
    }
}
